@use './var' as var;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


@mixin logo {
  height: 100%;
  font-weight: 700;
  font-size: 60px;
}

@mixin subtitle {
  font-size: 26px;
  font-weight: 500;
}

@mixin title {
  font-size: 60px;
  font-weight: 700;
}

@mixin heading {
  font-size: 32px;
  font-weight: 700;
}

@mixin text {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
}

@mixin btn {
  font-size: 16px;
  font-weight: 500;
  background: var.$secondary;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 5px;
}